<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AccessServlet</display-name>
    <servlet-name>AccessServlet</servlet-name>
    <servlet-class>controlador.AccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessServlet</servlet-name>
    <url-pattern>/AccessServlet</url-pattern>
  </servlet-mapping>
  <display-name>ProyectoWebIndomita</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAccess</display-name>
    <servlet-name>ServletAccess</servlet-name>
    <servlet-class>controlador.ServletAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccess</servlet-name>
    <url-pattern>/ServletAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletArticle</display-name>
    <servlet-name>ServletArticle</servlet-name>
    <servlet-class>controlador.ServletArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletArticle</servlet-name>
    <url-pattern>/ServletArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletWhoWA</display-name>
    <servlet-name>ServletWhoWA</servlet-name>
    <servlet-class>controlador.ServletWhoWA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletWhoWA</servlet-name>
    <url-pattern>/ServletWhoWA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletList</display-name>
    <servlet-name>ServletList</servlet-name>
    <servlet-class>controlador.ServletList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletList</servlet-name>
    <url-pattern>/ServletList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListImages</display-name>
    <servlet-name>ServletListImages</servlet-name>
    <servlet-class>controlador.ServletListImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListImages</servlet-name>
    <url-pattern>/ServletListImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUserList</display-name>
    <servlet-name>ServletUserList</servlet-name>
    <servlet-class>controlador.ServletUserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUserList</servlet-name>
    <url-pattern>/ServletUserList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletArticleList</display-name>
    <servlet-name>ServletArticleList</servlet-name>
    <servlet-class>controlador.ServletArticleList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletArticleList</servlet-name>
    <url-pattern>/ServletArticleList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFavorites</display-name>
    <servlet-name>ServletFavorites</servlet-name>
    <servlet-class>controlador.ServletFavorites</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFavorites</servlet-name>
    <url-pattern>/ServletFavorites</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>controlador.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNoticias</display-name>
    <servlet-name>ServletNoticias</servlet-name>
    <servlet-class>controlador.ServletNoticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNoticias</servlet-name>
    <url-pattern>/ServletNoticias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNoticiasDOS</display-name>
    <servlet-name>ServletNoticiasDOS</servlet-name>
    <servlet-class>controlador.ServletNoticiasDOS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNoticiasDOS</servlet-name>
    <url-pattern>/ServletNoticiasDOS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListaNoticias</display-name>
    <servlet-name>ServletListaNoticias</servlet-name>
    <servlet-class>controlador.ServletListaNoticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListaNoticias</servlet-name>
    <url-pattern>/ServletListaNoticias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSesionLogin</display-name>
    <servlet-name>ServletSesionLogin</servlet-name>
    <servlet-class>controlador.ServletSesionLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSesionLogin</servlet-name>
    <url-pattern>/ServletSesionLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCloseSession</display-name>
    <servlet-name>ServletCloseSession</servlet-name>
    <servlet-class>controlador.ServletCloseSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCloseSession</servlet-name>
    <url-pattern>/ServletCloseSession</url-pattern>
  </servlet-mapping>
</web-app>